.about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

.about .about_left {
    flex: 1;
    max-width: 64rem;
}

.about .about_right {
    max-width: 40rem;
    flex: 1;
}

.about .about_right p {
    margin: 1rem 0 2rem;
}

.about .about_right ul {
    margin-left: -1.2rem;
}

.about .about_right ul li {
    display: inline-block;
}

.about .about_right ul li a {
    display: inline-block;
    padding: 1rem;
}

.hidden {
    display: none;
}


 