.contact h2 {
    text-align: center;
}

.contact-form {
    padding: 2rem;
    background-color: var(--light-tertiary-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

.contact .form-title {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.contact label {
    display: block;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.contact input[type="text"],
.contact textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact input::placeholder,
.contact textarea::placeholder {
    font-size: 1.5rem;
}

.contact button[type="submit"] {
    display: block;
    margin: 1rem auto;
}
