footer {
    background-color: var(--light-tertiary-color);
}

footer .footer_content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 60rem;
}

footer .footer_content .footer_copyright {
    font-size: 1.4rem;
}